<!DOCTYPE html>
<html lang="pt-br">
<head>
     <meta charset="UTF-8"/>
     <title>UFFFAaA</title>
     <style type="text/css">
     h1{
     
        font-family:arial;
        font-size: 20pt;
        color: blue;
        text-shadow: 2px 2px 2px black;
     
     }
        h3{
     
        font-family:arial;
        font-size: 30pt;
        color: red;
        text-shadow: 2px 2px 2px black;
     
     }
     
     </style>

</head>
<body>

<h3>Olá Mundo em Java com utilização do Spring Boot!</h3>
<h1>UFFFA</h1>

</body>
</html>